
*{
    box-sizing: initial;
    user-select: none;
}

body{
    font-family: 'Arimo', sans-serif;
    font-size: 62%;
    box-sizing: border-box;
    background-color: #eee;
}

.header-with-search{
    height: 95px;
    position: relative;
    align-items: center;
    padding: 0px;
}

.wrapper{
    width: 100%;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.header-logo{
    display: block;
    width: 250px;
    height: 60px;
    overflow: hidden;
    text-align: center;
    top: 0;
    margin-right: 15px;
    padding-right: 0;
}