body{
    font-family: 'Arimo', sans-serif;
    font-size: .875rem;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #464646;
    text-align: left;
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}