.sf-restaurant{
    background-color: #fff;
    padding-top: 30px;
}

.clearfix:after {
    display: block;
    clear: both;
    content: "";
}

.container{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

.detail-restaurant-img{
    width: 480px;
    height: 300px;
    position: relative;
    float: left;
}

.restaurant-img{
    width: 100%;
    height: 100%;
}

.detail-restaurant-info{
    float: right;
    color: #252525;
    float: right;
    width: 645px;
    padding-bottom: 15px;
}

.breadcrumb{
    padding-left: 0;
    margin-bottom: 18px;
    list-style: none;
    overflow: hidden;
    margin-top: -2px;
}

.breadcrumb-item{
    float: left;
    position: relative;
    padding-right: 4px;
    font-size: 14.5px;
}

.breadcrumb-link{
    font-size: 13px;
    color: #187caa;
}

.breadcrumb-item:after{
    content: "\BB";
    color: #0288d1;
    display: inline-block;
    padding-left: 4px;
}

.like-restaurant{
    font-size: 11px;
    color: #959595;
    text-transform: uppercase;
    display: flex;
}

.tag-preferred{
    background: #f13233;
    color: #fff;
    padding: 3px 5px;
    margin-right: 10px;
    cursor: pointer;
    text-transform: none;
}

.tag-icon {
    font-size: 12px;
    margin-left: 2px;
    margin-right: 3px;
    width: 11px;
    height: 12px;
}

.tag-text {
    font-size: 12px;
}

.tag-desc{
    font-size: 12px;
    margin-top: 3px;
}

.name-restaurant{
    font-size: 22px;
    color: #464646;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 4px;
    line-height: 33px;
}

.addess-restaurant{
    font-size: 12px;
    margin-bottom: 2px;
}

.rating{
    margin-bottom: 4px;
    font-size: 14px;
}

.stars{
    font-size: 14px;
    color: #ffc107;
    display: inline-block;
}

.star-full{
    padding-right: 2px;
}

.star-icon{
    color: #ffc107;
}

.number-rating{
    background-color: #ffc107;
    padding: 0 5px;
    border-radius: 4px;
    color: #fff;
    margin: 0 5px;
}

.rating-text{
    font-size: 14px;
    color: #33302e;
    font-weight: 401;
}

.view-more-rating{
    margin-bottom: 4px;
}

.view-more-rating a{
    font-size: 14px;
    color: #0288d1;
    text-decoration: none;
    background-color: transparent;
}

.status-restaurant{
    margin-bottom: 6px;
}

.opentime-status{
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
}

.stt{
    width: inherit;
    height: inherit;
    vertical-align: middle;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    
}

.online{
    color: #329900;
}

.online:before{
    background-color: #6cc942;
}

.stt:before{
    content: "";
    border-radius: 50%;
    cursor: pointer;
    width: 8px;
    height: 8px;
    display: inline-block;
    position: relative;
    top: -1px;
    z-index: 2;
}

.stt:after {
    content: attr(title);
    font-size: 15px;
    display: inline-block;
    white-space: nowrap;
    color: inherit;
    padding-left: 5px;
}

.time{
    font-size: 15px;
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
}

.fa-clock{
    color: #959595;
    margin-right: 3px;
}

.cost-restaurant{
    color: #959595;
    font-size: 15px;
}

.cost-restaurant-icon{
    text-align: center;
    font-size: 9px;
    width: 18px;
    height: 18px;
    border: 1px solid;
    border-radius: 50%;
    line-height: 15px;
    vertical-align: top;
    padding-top: 3px;
    margin-right: 3px;
    margin-top: 1.2px;
}

.untility-restaurant{
    border-top: 1px solid #ebebeb;
    margin-top: 25px;
}

.utility-item:first-child {
    padding-left: 0;
}

.untility-item{
    float: left;
    width: 140px;
    position: relative;
    padding: 10px;
    margin-bottom: 30px;
    padding-left: 0px;
}

.utility-restaurant .utility-item:first-child {
    padding-left: 0;
}

.untility-title{
    color: #959595;
    font-size: 13px;
    text-transform: uppercase;
}

.untility-content{
    font-size: 14px;
}

.icon-untility{
    background-image: url(https://shopeefood.vn/app/assets/img/partner-vi.png?dec00ea8fc6f5429f18e83d16c3685f8);
    position: absolute;
    top: 20px;
    left: 15px;
    cursor: pointer;
    width: 116px;
    height: 44px;
}

.icon{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.text-red{
    color: #ee4d2d!important;
}
.text-bold {
    font-size: 14px;
    font-weight: 700!important;
}

.untility-item:last-child{
    padding-left: 10px;
}

.untility-item:before {
    content: "";
    width: 1px;
    height: 30px;
    position: absolute;
    top: 14px;
    left: 0;
    background-color: #ebebeb;
}